:root {
  --global-light: hsl(0, 0%, 100%);
  --global-dark: hsl(0, 0%, 0%);
  --global-background-light: hsl(60, 100%, 90%);
  --global-background-dark: hsl(175, 50%, 26%);
  --box-shadow: hsl(0, 0%, 69%);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: -webkit-fill-avaliable;
  min-height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url('../images/600.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--global-light);
  text-align: center;
  .lang {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    a {
      text-decoration: none;
      color: var(--global-light);
      img {
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
      }
    }
  }
  h1 {
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    line-height: 1.2;
    font-size: 2.4rem;
    color: var(--global-background-light);
  }
  h2 {
    margin: 0;
    font-family: cursive;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--global-background-light);
  }
  p {
    padding: 0 2rem;
    color: var(--global-background-light);
  }
}

.youtube {
  width: 100% !important;
  height: auto !important;
  background-color: var(--global-background-dark);
  display: grid;
  grid-template-columns: 1fr;
  h2 {
    color: var(--global-background-light);
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
  }
  iframe {
    height: 50vh;
  }
}

#about {
  background-color: var(--global-background-light);
  overflow: hidden;
  .title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    h2 {
      margin: 0;
      text-transform: uppercase;
      color: var(--global-background-dark);
    }
  }
  .why {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.3rem;
    padding: 0.3rem;
    article {
      color: var(--global-background-light);
      background-color: var(--global-background-dark);
      padding: 1.3rem 1.6rem;
      box-shadow: 3px 3px 3px var(--global-dark);
      ol {
        li {
          list-style-type: disc;
        }
      }
    }
  }
  .banner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.3rem 1rem;
    padding: 3rem 0 0 0;
    text-align: center;
    article {
      color: var(--global-background-dark);
      box-shadow: 1px 1px 5px var(--box-shadow);
      transition: all 0.3s ease;
      padding: 0.7rem;
      cursor: pointer;
      &:hover,
      &:active {
        color: var(--global-background-light);
        background-color: var(--global-background-dark);
      }
      &:hover i,
      &:active i {
        color: var(--global-background-light);
      }
      i {
        padding: 1.3rem;
        color: var(--global-background-dark);
      }
      p {
        text-align: left;
        padding: 0.4rem;
      }
    }
  }
}

.bottom-banner {
  p {
    text-align: center;
    padding: 3rem 1rem;
    margin: 0;
    color: var(--global-background-dark);
  }
}

#gallery {
  background: var(--global-background-dark);
  padding-bottom: 2rem;
  .title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    h2 {
      margin: 0;
      text-transform: uppercase;
      color: var(--global-background-light);
    }
  }
  .card {
    position: relative;
    p {
      text-align: center;
      margin: 0;
      padding: 0.5rem 0;
      width: 100%;
      background-color: rgba(20, 20, 20, 0.8);
      color: var(--global-background-light);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .gallery-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-auto-flow: row dense;
    gap: 0.5rem;
    padding: 0 1rem;
  }
  .gallery-wrap img {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px var(--global-background-light);
    border-radius: 0.2rem;
  }
  .gallery-wrap img[src$='_big.jpg'] {
    grid-row-end: span 1;
    grid-column-end: span 1;
  }
  .gallery-wrap img[src$='_small.jpg'] {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
}

#courses {
  display: grid;
  background: var(--global-background-dark);
  .title {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    h2 {
      margin: 0;
      text-transform: uppercase;
      color: var(--global-background-light);
    }
    P {
      color: var(--global-background-light);
      padding: 0 1.2rem;
      text-align: left;
    }
  }
  article {
    display: grid;
    .box {
      color: var(--global-dark);
      box-shadow: 1px 1px 5px var(--box-shadow);
      transition: all 0.3s ease;
      padding: 1.2rem 0.7rem;
      cursor: pointer;
      margin: 0.5rem 1rem;
      text-align: center;
      // border: 1px solid var(--global-background-light);
      &:hover {
        background: var(--global-background-light);
        i {
          color: var(--global-background-dark);
        }
        p {
          color: var(--global-background-dark);
        }
      }
      i {
        color: var(--global-background-light);
      }
      p {
        padding: 0 0.5rem;
        color: var(--global-background-light);
        text-align: left;
      }
    }
    .rest-text {
      color: var(--global-background-light);
      padding: 1.5rem 1rem;
      text-align: center;
    }
  }
}

#games {
  background: var(--global-background-light);
  display: grid;
  grid-template-columns: 1fr;
  .title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    grid-column: 1/5;
    h2 {
      margin: 0;
      text-transform: uppercase;
      color: var(--global-background-dark);
    }
  }
  article {
    display: grid;
    grid-template-columns: 1fr;
    .box {
      background: var(--global-background-dark);
      color: var(--global-background-light);
      margin: 1rem;
      h3 {
        text-align: center;
        padding: 0 .5rem;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      p {
        padding: 0 0.5rem;
      }
    }
  }
}

#cost{
  background: var(--global-background-dark);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    h2 {
      margin: 0;
      text-transform: uppercase;
      color: var(--global-background-light);
    }
    P {
      color: var(--global-background-light);
      padding: 0 1.2rem;
      text-align: left;
    }
  }
  .title-image{
    align-self: center;
    margin-bottom: 2rem;
    img{
      width: 100px;
      height: 100px;
      transition: transform 1s ease;
      &:hover, &:active{
        transform: rotate(360deg);
        transition: transform 1s ease;
      }
    }
  }
}

#opportunities{
  background: url('../images/games/world-map.png');
  padding-bottom: 2rem;
  .title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    h2 {
      margin: 0;
      text-transform: uppercase;
      color: var(--global-background-dark);
    }
  }
  P {
    color: var(--global-background-dark);
    padding: 0 1.2rem;
    text-align: left;
  }
}

#job{
  background: url('../images/games/cruiser.png');
  background-position: center center;
  background-size: cover;
  padding-bottom: 2rem;
  .title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    h2 {
      margin: 0;
      text-transform: uppercase;
      color: var(--global-background-dark);
    }
  }
  P {
    color: var(--global-background-dark);
    padding: 0 1.2rem;
    text-align: left;
  }
}

#cursuri-online{
  background: url('../images/games/money-1.png');
  background-position: center center;
  background-size: cover;
  padding-bottom: 2rem;
  .title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    h2 {
      margin: 0;
      text-transform: uppercase;
      color: var(--global-background-dark);
    }
  }
  P {
    color: var(--global-background-dark);
    padding: 0 1.2rem;
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .youtube {
    grid-template-columns: 10px 1fr 10px;
    h2 {
      grid-column: 1/3;
      color: var(--global-background-light);
      text-align: center;
      text-transform: uppercase;
      padding: 2rem;
    }
    iframe {
      grid-column: 2/3;
      height: 50vh;
      padding-bottom: 2rem;
    }
  }
  #about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .title {
      grid-column: 1/3;
    }
    .why {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr;
    }
    .banner {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr;
    }
    .bottom-banner {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }
  #gallery {
    .gallery-wrap {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .gallery-wrap img[src$='_big.jpg'] {
      grid-row-end: span 2;
      grid-column-end: span 2;
    }
    .gallery-wrap img[src$='_small.jpg'] {
      grid-column-end: span 1;
      grid-row-end: span 1;
    }
  }
  #courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .title {
      grid-column: 1/3;
      p {
        text-align: center;
      }
    }
    article {
      display: grid;
      grid-column: 1/3;
    }
  }
}

#testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .title {
    width: 100%;
    text-align: center;
  }
  .card {
    width: 40%;
  }
  img {
    width: 40%;
  }
}




@media screen and (min-width: 769px) {
  .youtube {
    grid-template-columns: 100px 1fr 100px;
    h2 {
      grid-column: 1/4;
    }
    iframe {
      grid-column: 2/3;
      height: 60vh;
    }
  }
  header {
    background-image: url('../images/header1.webp');
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .main-text {
      grid-column: 2/5;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.5rem;
    }
  }
  #about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .title {
      grid-column: 1/5;
    }
    .why {
      grid-column: 1/5;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .banner {
      grid-column: 1/5;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .bottom-banner {
      grid-column: 1/5;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }
  #gallery {
    .gallery-wrap img[src$='_big.jpg'] {
      grid-row-end: span 1;
      grid-column-end: span 1;
    }
    .gallery-wrap img[src$='_small.jpg'] {
      grid-column-end: span 1;
      grid-row-end: span 1;
    }
  }
  #courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .title {
      grid-column: 1/4;
    }
    article {
      grid-column: 1/4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .rest-text {
      grid-column: 1/4;
    }
  }
  #games{
    grid-template-columns: 1fr;
    article{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  #cost{
    flex-direction: row;
    .title-image{
      padding-right: 2rem;
      img{
        width: 200px;
        height: 200px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .youtube {
    grid-template-columns: 200px 1fr 1fr 200px;
    h2 {
      grid-column: 1/5;
    }
    iframe {
      grid-column: 2/4;
      height: 60vh;
    }
  }
  header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .main-text {
      grid-column: 2/5;
    }
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 3rem;
    }
  }
  #about {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr) 100px;
    .title {
      grid-column: 2/6;
    }
    .why {
      grid-column: 2/6;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .banner {
      grid-column: 2/6;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .bottom-banner {
      grid-column: 2/6;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }
  #gallery {
    .gallery-wrap img[src$='_big.jpg'] {
      grid-row-end: span 2;
      grid-column-end: span 2;
    }
    .gallery-wrap img[src$='_small.jpg'] {
      grid-column-end: span 1;
      grid-row-end: span 1;
    }
  }
  #courses {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr) 100px;
    .title {
      grid-column: 2/6;
    }
    article {
      grid-column: 2/6;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .rest-text {
      grid-column: 1/6;
    }
  }
  #cost{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    .title{
      grid-column: 2/4;
    }
    .title-image{
      grid-column: 5/6;
      justify-self: center;
      padding-right: 2rem;
      img{
        width: 200px;
        height: 200px;
      }
    }
  }
}




@media screen and (min-width: 1200px) {
  .youtube {
    grid-template-columns: 200px 1fr 1fr 200px;
    iframe {
      grid-column: 2/4;
      height: 70vh;
    }
  }
  #gallery {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    .title {
      grid-column: 2/3;
    }
    .gallery-wrap {
      grid-column: 2/3;
    }
    .gallery-wrap img[src$='_big.jpg'] {
      grid-row-end: span 1;
      grid-column-end: span 1;
    }
    .gallery-wrap img[src$='_small.jpg'] {
      grid-column-end: span 1;
      grid-row-end: span 1;
    }
  }
}
